Language: C
BasedOnStyle: Microsoft

IndentWrappedFunctionNames: false

AllowAllParametersOfDeclarationOnNextLine: false
BinPackParameters: false
AlignAfterOpenBracket: false

IndentWidth: 4
TabWidth: 4
UseTab: Always